@using QuanLyBanHang.Models;
@model List<Product>
@{
    var db = new DataContext();
    var categores = db.Category.ToList();


    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/_Layout_Site.cshtml";
}

<div class="content">
    <div class="container">
        <div class="col-md-4 w3ls_dresses_grid_left">
            <div class="w3ls_dresses_grid_left_grid">
                <h3>Categories</h3>
                <div class="w3ls_dresses_grid_left_grid_sub">
                    <div class="ecommerce_dres-type">
                        <ul>
                            @foreach (var item in categores)
                            {
                                <li><a href="@Url.Action("index","Category", new { id = item.Id })">@item.name</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-8 col-sm-8 women-dresses">
            <div class="women-set@t">
                @foreach (var item in Model)
                {
                    <div class="col-md-4 women-grids animated wow slideInUp" data-wow-delay=".5s">
                        <a href="@Url.Action("index","Product", new { id = item.Id})">
                            <div class="product-img">
                                <img src="@item.image" alt="" />
                                <div class="p-mask">
                                    <form action="#" method="post">
                                        <input type="hidden" name="cmd" value="_cart" />
                                        <input type="hidden" name="add" value="@item.Id" />
                                        <input type="hidden" name="w3ls1_item" value="@item.Title" />
                                        <input type="hidden" name="amount" value="@item.price" />
                                        <button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
                                    </form>
                                </div>
                            </div>
                        </a>
                        <h4>@item.Title</h4>
                        <h5>@item.price</h5>
                    </div>
                }
                <div class="clearfix"></div>
            </div>

        </div>
    </div>
</div>
